@font-face {
    font-family: 'Libre Baskerville';
    src: url('../assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville Bold';
    src: url('../assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville Italic';
    src: url('../assets/fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --toastify-font-family: 'Libre Baskerville', serif;
    --toastify-text-color-light: #2c2b28;
    --toastify-color-light: #f1efeb;
}

body {
    background: #2c2b28;
    color: #f1efeb;
    font-family: 'Libre Baskerville', serif;
}

input, button {
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    background: #2c2b28;
    color: #f1efeb;
    border-style: solid;
    border-radius: 6px;
    padding: 6px;
}

.white-button {
    color: #2c2b28;
    background-color: #f1efeb;
    border-color: #2c2b28;
}

button.red-button {
    font-family: "Libre Baskerville Bold", serif;
    color: #f1efeb;
    background-color: #ff00002b;
    border-color: #2c2b28;
}