.availability {
    font-family: "Libre Baskerville Italic", serif;
    margin: auto;
    border-radius: 6px;
    padding: 12px 12px 10px 16px;
    font-weight: bold;
    text-align: center;
    font-size: clamp(12px, 2vw, 18px);
}

.available {
    background-color: #4df0482e;
}

.unavailable {
    background-color: #ff00002b;
}