#clock {
    text-align: center;
    margin-bottom: 48px;
}

#clock-time {
    font-size: clamp(36px, 12vw, 96px);
}

#clock-date-container {
    max-width: fit-content;
    margin: auto;
}

#clock-day {
    text-align: center;
    font-size: clamp(32px,3vw, 48px);
}

#clock-date {
    font-size: clamp(18px, 2vw, 28px);
}