h5 {
    margin: 0;
}

h5.class-header {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: clamp(12px, 2vw, 24px);
}

.class-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.class-timerange {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: clamp(12px, 2vw, 24px);
    margin-left: 2vw;
}

.events-list {
    margin-bottom: 4vh;
}

.day-header {
    border-bottom-style: solid;
    margin: 24px 0 24px 0;
    font-size: clamp(16px, 2.5vw, 28px);
}

.events-list-daily {
    margin-top: 3vh;
}

div.days-checkboxes {
    display: inline-block;
}

.event-admin-wrapper {
    margin: 18px 2vw 18px 2vw;
}

.event-form {
    margin: 18px 2vw 0 2vw;

    div {
        margin-bottom: 12px;
    }

    button {
        margin-top: 12px;
    }
}

.days-of-week-container {
    font-size: 12px;
    div {
        margin: 0;
    }
}