.admin-button-container {
    display: flex;
    justify-content: right;
}

button.admin-button {
    color: #f1efeb;
    border-style: none;
    font-size: clamp(12px, 2vw,18px);
    margin-right: 2px;
}