.professors-list {
    max-width: clamp(360px, 60vw, 1000px);
    margin: 24px auto 4vh;
}

.border-container {
    border-radius: 12px;
    border-style: solid;
    border-width: 6px;
    padding: 0 clamp(24px, 5vw, 56px) clamp(24px, 5vw, 56px);
}

.admin-professors-list {
    margin-top: clamp(24px, 5vw, 56px);
}